*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 20px;
    font-weight: bold;
}

.main{
    padding: 2rem;
    width: 100%;
}
.search-input{
    margin-top: 4rem;
    width: 100%;
    text-align: center;
}
.search-input input:focus{
    outline: none;
}
.search-input input{
    font-size: 1rem;
    width: 50%;
    height: 2rem;
}
.search-container{
    display: inline-flex;
    margin: 2rem;
    /* padding: 2rem;  */
}
.contain{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    /* border: 1px solid black; */
    border-radius: 15px;
    width: 250px;
    height: 320px;
    padding: 1rem;
    background-color: black;
}
.contain-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.contain-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.desc{
    margin-top: 3rem;
}
.desc h4{
    font-size: 2rem;
    color: white;
}
.desc p{
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}